<template>
  <div id="app">
    <Topnav />
    <Sidenav />
    <router-view> </router-view>
    
  </div>
</template>
<script>

import Topnav from './components/navigations/Topnav'

import Sidenav from './components/navigations/Sidenav'
export default {
  components:{
    Sidenav,Topnav
    
  },
}
</script>