<template>
  <div class="side-navigation">
        <div class="logo">
            <div class="row mt-3 ml-4 ">
                <div class="col-3 col-sm-3 col-lg-3 pb-3">
                    <img src="../../assets/images/logo.jpeg" height="150" alt="" class="Logo">
                </div>

            </div>
        </div>


            <div class="handler">


              <router-link to="/Dashboard">
                <div class="element">
                    <img src="../../assets/images/speedometer.png" height="45" class="ml-4 pt-1 pic position-absolute">
                    <p class="ml-5 pl-4 pt-3  links" href="">Dashboard</p>


                </div>

                </router-link>
            </div>





            <div class="handler">

               <router-link to="/Patron">
                <div class="element">
                    <img src="../../assets/images/group.png" height="45" class="ml-4 pt-1 pic position-absolute">
                    <p class="ml-5 pl-4 pt-3 links" href="">Patron Management</p>
                </div>

      </router-link>

            </div>





            <div class="handler">
                <router-link to="/Book">
                <div class="element">
                    <img src="../../assets/images/books.png" height="45" class="ml-4 pt-1 pic position-absolute">
                    <p class="ml-5 pl-4 pt-3 links" href="">Books Management</p>
                </div>
                </router-link>
            </div>





            <div class="handler">
              <router-link to="/Settings">
                <div class="element">
                    <img src="../../assets/images/settings.png" height="45" class="ml-4 pt-1 pic position-absolute">
                    <p class="ml-5 pl-4 pt-3 links" href="">Settings</p>
                </div>
                </router-link>
            </div>


    </div>
</template>

<script>

export default {
 name: 'Sidanav',

}
</script>

<style>
@import '../../assets/css/style.css';
</style>
