<template>
    <div class="top-nav">

        <div class="nav-container">

            <div class="d-flex align-items-center">
                <hr class="vertical-divider">
                <img src="../../assets/images/exit.png" height="43" class="mt-1 mr-2">
                <a href="" class="mr-2 pt-2 link-logout">Logout</a>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Topnav',
}
</script>

<style>
@import '../../assets/css/style.css';
</style>