<template>
  <div id="app">
     
      <div class="main-content">
      <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <button v-b-modal.AddBook @click="$bvModal.show('AddBook')" type="button" class="btn" style="background-color:#10E8F5; color: black;">&nbsp;Add&nbsp;
          </button>
        </div>
        <div class="col-4 offset-md-4">
          <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
          </div>
        </div>
      </div>


      <div class="table-responsive pt-3">
        <div style="overflow-x:auto;"></div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Edit/Delete/Borrow/Return</th>
              <th>Book Name</th>
              <th>Author</th>
              <th>Copies Available</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
             <tr v-for="(Book, index) in BookModelFilter" :key="index">
                  
                  <td>
                     <button  @click="ToBeUpdated(index)" v-b-modal.UpdateBook type="button" class="btn custom-btn"> <img src="../../../assets/images/pencil.png"  class="mr-1"></button>
                      <button @click="SelectedBook = index" v-b-modal.DeleteModal type="button" class="btn custom-btn" > <img src="../../../assets/images/delete.png" class="mr-1"></button>
                      <button type="button" class="btn custom-btn"> <img src="../../../assets/images/inspiration.png"  class="mr-1"></button>
                      <button type="button" class="btn custom-btn" > <img src="../../../assets/images/undo.png" class="mr-1"></button>
                  </td>
                  
                  <td>
                    {{ Book.name  }}
                  </td>
                   <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>

                  
                </tr>
            
          </tbody>
        </table>
      </div>
    
    </div>

    <!-- MODAL  ADD BODY -->

  <b-modal id="AddBook"  hide-header hide-footer ref="modal" >
                 <div class="modal-header" style="background-color: #525252; color: #ffffff;">
          <h4 class="modal-title" >Add Book</h4>
          <button @click="HideModal" type="button" class="close"><img
            src="../../../assets/images/undo.png" height="30px" class="mr-1"></button>
        </div>
          <div class="modal-body pl-5 pr-5">
             <form id="AddBook" ref="modal">
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Book Name</label>
                   <input id="bname"  v-model="Form.name" type="text" name="name" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Author</label>
                   <input id="bAuthor"  v-model="Form.author" type="text" name="author" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Copies Available</label>
                  <input  id="bcopies" v-model="Form.copies" type="text" name="copies" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Category</label>
                  <b-form-select id="Genre" v-model="Form.category_id">
                    <b-form-select-option
                    :value="Category.id"
                    v-for="Category in AllCategories"
                    :key="Category.id"
                    >{{Category.category}}</b-form-select-option>
                  </b-form-select>
                  </div>

               <div class="modal-footer">
          <button @click="AddBook" type="button" class="btn btn-secondary" >Save</button>
              </div>
               </form>
            </div>
            </b-modal>

            <!-- MODAL ADD BODY -->

            <!-- MODAL UPDATE BODY -->
           <b-modal
          id="UpdateBook" title="Update Book" centered modal-header no-close-on-backdrop no-close-on-esc hide-header hide-footer ref="modal">
                <div class="modal-header" style="background-color: #525252; color: #ffffff;">
          <h4 class="modal-title" >Update Book</h4>
          <button  @click="HideModal" type="button" class="close"><img
            src="../../../assets/images/undo.png" height="30px" class="mr-1"></button>
        </div>
          <div class="modal-body pl-5 pr-5">
             <form id="AddBook" ref="modal">
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Book Name</label>
                   <input id="bname"  v-model="Form.name" type="text" name="name" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Author</label>
                   <input id="bAuthor"  v-model="Form.author" type="text" name="author" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Copies Available</label>
                  <input  id="bcopies" v-model="Form.copies" type="text" name="copies" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Category</label>
                  <b-form-select id="Genre" v-model="Form.category_id">
                    <b-form-select-option
                    :value="Category.id"
                    v-for="Category in AllCategories"
                    :key="Category.id"
                    >{{Category.category}}</b-form-select-option>
                  </b-form-select>
               </div> 
               <div class="modal-footer">
          <button @click="UpdateBook()" type="button" class="btn btn-secondary" >Update</button>
              </div>
               </form>
            </div>
         
        </b-modal>  
            <!-- MODAL UPDATE BODY -->


            <!-- DELETE -->
           <b-modal  size="sm" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class=" btn btn-danger mr-2"  data-dismiss="modal" block @click="DeleteBook()" >
                Yes
              </button>
                <button type="button" class= "btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                No
              </button>
              
            </div>
          </template>
        </b-modal>
            <!-- DELETE -->
</div>
















  </div>
</template>
<script src="../../../assets/js/book.js"></script>

<script>
import Book from '../../../assets/js/book.js'
export default Book;

</script>

<style scope>
 @import '../../../assets/css/style.css';
</style>