<template>
  <div id="app">
      <Sidenav/>
      <Topnav/>
      <div class="main-content">
            <div class="container pt-5">
            <div class="row mt-5">
                <div class="col-10 col-sm-10 col-lg-6 pb-3">
                   
                    <canvas id="bar" width="280" height="200"></canvas>
                    <h4 class="text-muted pt-5">Borrowed and returned books</h4>
                </div>
                <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                    <canvas id="pie" width="280" height="200"></canvas>
                    <h4 class="text-muted pt-5">Popular book genre</h4>
                </div>
            </div>
        </div>
      </div>
     
  </div>
</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../../navigations/Sidenav.vue'
import Topnav from '../../navigations/Topnav.vue'
export default {
      components: {Sidenav,Topnav},
      mounted: function(){
          document.title = "Dashboard"
           var ctx1 = document.getElementById('bar').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY', 'JUNE'],
        datasets: [
          {
            label: 'Returned Books',
            data: [3, 9, 5, 12, 6, 2],
            backgroundColor: 'rgba(192,57,43 ,1)',
               
                
        },
        {
            label: 'Borrowed Books',
            data: [4, 2, 9, 10, 5, 3],
            backgroundColor: 'rgba(41,128,185 ,1)',  
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    var ctx2 = document.getElementById('pie').getContext('2d');
    new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Novel', 'Fiction', 'Biography', 'Horror'],
            datasets: [{
                label: '# of Votes',
                  data: [12, 5, 9, 10],
                backgroundColor: [
                    'rgba(64, 64, 122,1.0)',
                'rgba(204, 142, 53,1.0)',
                'rgba(255, 82, 82,1.0)',
                'rgba(34, 112, 147,1.0)'
                    
                ],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
      }
}
</script>

<style>

</style>