<template>
  <div id="app">
    <Sidenav/>
    <Topnav/>
  </div>
</template>

<script>
import Sidenav from '../../navigations/Sidenav.vue'
import Topnav from '../../navigations/Topnav.vue'
export default {
    components: {Sidenav, Topnav},
    mounted: function(){
        document.title= "Settings"
    }
}
</script>

<style>
  @import '../../../assets/css/style.css';
</style>
