<template>
  <div id="app">
     
      <div class="main-content">
      <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <button v-b-modal.AddPatron @click="$bvModal.show('AddPatron')" type="button" class="btn" style="background-color:#10E8F5; color: black;">&nbsp;Add&nbsp;
          </button>
        </div>
        <div class="col-4 offset-md-4">
          <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
          </div>
        </div>
      </div>


      <div class="table-responsive pt-3">
        <div style="overflow-x:auto;"></div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Edit/Delete</th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Date Registered</th>
            </tr>
          </thead>
          <tbody>
             <tr v-for="(Patron, index) in PatronModelFilter" :key="index">
                  <td>
                     <button  @click="ToBeUpdated(index)" v-b-modal.UpdatePatron type="button" class="btn custom-btn"> <img src="../../../assets/images/pencil.png"  class="mr-1"></button>
                      <button @click="SelectedPatron = index" v-b-modal.DeleteModal type="button" class="btn custom-btn" > <img src="../../../assets/images/delete.png" 
                  class="mr-1"></button>
                  </td>
                  
                  <td>
                    {{ Patron.FirstName + " " + Patron.MiddleName + " " + Patron.LastName }}
                  </td>
                  <td>
                    {{ Patron.EmailAddress }}
                  </td>
                  <td>
                    {{
                      Patron.PatronDateRegistered | dateFormat("DD MMMM, YYYY")
                    }}
                  </td>
                  
                </tr>
            

          </tbody>
        </table>
      </div>
    
    </div>

    <!-- MODAL  ADD BODY -->

  <b-modal id="AddPatron"  hide-header hide-footer ref="modal" >
                 <div class="modal-header" style="background-color: #525252; color: #ffffff;">
          <h4 class="modal-title" >Add Patron</h4>
          <button @click="HideModal" type="button" class="close"><img
            src="../../../assets/images/undo.png" height="30px" class="mr-1"></button>
        </div>
          <div class="modal-body pl-5 pr-5">
             <form id="AddPatron" ref="modal">
                   <div class="form-group">
                     <label for="exampleFormControlInput1">First Name</label>
                   <input id="FirstName"  v-model="Form.FirstName" type="text" name="name" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Middle Name</label>
                   <input id="MiddleName"  v-model="Form.MiddleName" type="text" name="middlename" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Last Name</label>
                  <input  id="LastName" v-model="Form.LastName" type="text" name="lastname" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                  <input id="EmailAddress"  v-model="Form.EmailAddress" type="text" name="email" class="form-control" value="Email Address" required>
               </div> 
               <div class="modal-footer">
          <button @click="AddPatron" type="button" class="btn btn-secondary" >Save</button>
              </div>
               </form>
            </div>
            </b-modal>

            <!-- MODAL ADD BODY -->

            <!-- MODAL UPDATE BODY -->
           <b-modal
          id="UpdatePatron" title="Update Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header hide-footer ref="modal">
                <div class="modal-header" style="background-color: #525252; color: #ffffff;">
          <h4 class="modal-title" >Update Patron</h4>
          <button  @click="HideModal" type="button" class="close"><img
            src="../../../assets/images/undo.png" height="30px" class="mr-1"></button>
        </div>
          <div class="modal-body pl-5 pr-5">
             <form id="AddPatron" ref="modal">
                   <div class="form-group">
                     <label for="exampleFormControlInput1">First Name</label>
                   <input id="FirstName"  v-model="Form.FirstName" type="text" name="name" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Middle Name</label>
                   <input id="MiddleName"  v-model="Form.MiddleName" type="text" name="middlename" class="form-control">
                   </div>
                   <div class="form-group">
                     <label for="exampleFormControlInput1">Last Name</label>
                  <input  id="LastName" v-model="Form.LastName" type="text" name="lastname" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                  <input id="EmailAddress"  v-model="Form.EmailAddress" type="text" name="email" class="form-control" value="Email Address" required>
               </div> 
               <div class="modal-footer">
          <button @click="UpdatePatron(SelectedPatron)" type="button" class="btn btn-secondary" >Update</button>
              </div>
               </form>
            </div>
         
        </b-modal>  
            <!-- MODAL UPDATE BODY -->


            <!-- DELETE -->
           <b-modal  size="sm" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class=" btn btn-danger mr-2"  data-dismiss="modal" block @click="DeletePatron(SelectedPatron)" >
                Yes
              </button>
                <button type="button" class= "btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                No
              </button>
              
            </div>
          </template>
        </b-modal>
            <!-- DELETE -->
</div>
















  </div>
</template>
<script src="../../../assets/js/patron.js"></script>

<script>
import patron from '../../../assets/js/patron.js'
export default patron;

</script>

<style scope>
 @import '../../../assets/css/style.css';
</style>