html {
    height: 100%;
  }


  a:hover {
    text-decoration: none;
  }

  body{
    background: #E5E5E5;
  }

  .side-navigation {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #2D3E52;
    overflow-x: hidden;
    transition: all 100ms;
  }

  .Logo{
    border-radius: 50%;
  }

  .side-navigation a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;

    color: #ffff;
    display: block;

  }

  .links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
  }

  .handler  {
    width: 100%;
    height: 90px;
    padding-top: 20px;
    position: relative;

  }

  .element {
    position: absolute;
    margin: 2px;
    overflow: auto;

  }


  .active-link{

    height: 90px;
    background-color:#10E8F5;

  }

  .active-link, option{
    color: #000000;
  }



  .top-nav {
    width: calc(100% - 280px);
    padding-left: 270px;
    background-color: #2D3E52;
    box-shadow: 0px 4px 4px rgba(7, 0, 0, 0.2);
    height: 4.4rem;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;

  }

  .nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-top: 6px;
    display: inline-block;

  }

  .link-logout {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-decoration: none;
    color: #847D7D;
  }


  .main-content {
    margin-left: 290px !important;
    padding: 0px 10px;
    margin-top: 7rem !important;
  }

  .custom-form {
    color: #000000;
    display: block;
    width: 24rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border-color: #000000;

  }

  .invert {
    transform: scaleX(-1);
  }

  .custom-btn img{
    width: 30px;
    height: 30px;

  }

  th {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    background: #676767;
    color: #ffff;
  }

  td {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    line-height: 3rem;
  }

  table.table-bordered{
    border:1px solid rgb(0, 0, 0);
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid rgb(0, 0, 0);
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid rgb(0, 0, 0);
  }
  table.table-bordered > tbody > tr > td{
    background-color: #C4C4C4;
  }


  @media only screen and (max-width: 768px) {
    html {
      font-size: .9rem;
    }

    .side-navigation {
      width: 100px;
    }

    .main-content {
      margin-left: 100px !important;
    }

    .active {
      height: 50px;
    }

    .active-books {
      height: 55px;
    }

    .active-patron {
      height: 55px;
    }

    .custom-btn {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 0px;
      text-align: center;
      font-display: none;
      width: 44px;
      line-height: -2.5rem;
    }

    .Logo{
     margin-left: -20px;
    height: 60px;
    width: auto;
    }

    .pic{
      height: 40px;

    }

    .links{
      font-size: 0px;
    }

    .top-nav {
      width: calc(100% - 100px);
    }

    .nav-container {
      margin-left: 125px;
    }
  }
